.login-form {
    display: block;
    height: 100%;
    width: 37%;
    margin: 10% 32%;
    text-align: center;
}

.login-form-button {
    margin: 0 5px;
}

.login-register-button {
    margin: 0 5px;
    background: cadetblue;
}